<%-include("../../views/partials/user/header")%>
<style>
.item__pic {
    width: 100%;
    height: auto;
    max-width: 440px;  
    max-height: 440px; 
}
.item__pic1 {
    width: 100%;
    height: 440px;
    max-width: 440px; 
}
</style>


    <section class="hero">
        <div class="hero__slider owl-carousel">
            <div class="hero__items set-bg" data-setbg="img/hero/hero-12.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6 style="color: azure;">Summer Collection</h6>
                                <h2>MAKEUP YOUR</h2>
                               
                                <h2>STORY! </h2>
                                <p>A specialist label creating luxury essentials.<br> Ethically crafted 
                                commitment exceptional quality.</p>
                                <a href="/shop" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" data-setbg="https://static.vecteezy.com/system/resources/thumbnails/038/199/438/small_2x/ai-generated-versatile-makeup-palette-generate-ai-photo.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6 style="color: azure;">Summer Collection</h6>
                                <h2>MAKEUP YOUR</h2>
                               
                                <h2>STORY! </h2>
                                <p>A specialist label creating luxury essentials.<br> Ethically crafted 
                                commitment exceptional quality.</p>
                                <a href="/shop" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="banner spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 offset-lg-4">
                    <div class="banner__item">
                        <div class="banner__item__pic">
                            <img src="https://cdn.pixabay.com/photo/2023/06/01/06/21/perfume-8032808_640.jpg" alt="" class="item__pic">
                        </div>
                        <div class="banner__item__text">
                            <h2>Perfume <br> Collections <br>2030</h2>
                            <a href="/shop">Shop now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="banner__item banner__item--middle">
                        <div class="banner__item__pic">
                            <img src="img/banner/lip.avif" alt=""  class="item__pic">
                        </div>
                        <div class="banner__item__text">
                            <a href="/shop">Shop now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="banner__item banner__item--last">
                        <div class="banner__item__pic">
                            <img src="https://thumbnails.yayimages.com/1600/11/4f9/114f98d6.jpg" alt=""  class="item__pic1">
                        </div>
                        <div class="banner__item__text">
                            <h2>2030</h2>
                            <a href="/shop">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="filter__controls">
                        <li class="active" data-filter="*">Best Sellers</li>
                        
                    </ul>
                </div>
            </div>
            <div class="row product__filter">
                
                <% products.forEach(product => { %>
                    <div class="col-lg-3 col-md-6 col-sm-6 mix new-arrivals">
                        <a href="/shop-details/<%= product._id %>">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" 
                                 data-setbg="<%= product.productImage && product.productImage[0] ? '/uploads/re-image/' + product.productImage[0] : 'default-image.jpg' %>">
                                <% if (product.isNew) { %>
                                    <span class="label">New</span>
                                <% } %>
                                <ul class="product__hover">
                                    <li>
                                        <a href="/productDetails?id=<%= product._id %>">
                                            <img src="<%= product.productImage && product.productImage[0] ? '/uploads/re-image/' + product.productImage[0] : 'default-image.jpg' %>" 
                                                 alt="<%= product.productName %>">
                                        </a>
                                    </li>
                                    <li><a href="#"><img src="img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                                    <li><a href="#"><img src="img/icon/search.png" alt=""></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><%= product.productName %></h6>
                                <a>
                                    <button class="add-to-cart-btn" 
                                        onclick="addToCart('<%= product._id %>', '<%= product.productName %>', '<%= product.salePrice %>')" 
                                        style="all: unset; color: black; cursor: pointer;">
                                        +Add to Cart
                                    </button>

                                  </a>
                                  
                                <div>
                                    <% if (product.salePrice < product.regularPrice) { %>
                                        <h5><del>₹<%= product.regularPrice %></del> ₹<%= product.salePrice %></h5>
                                    <% } else { %>
                                        <h5>₹<%= product.regularPrice %></h5>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </a>
                    </div>
                <% }); %>
            </div>
       
        </div>
    </section>

    <section class="categories spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="categories__text">
                        <h2>Glow Up <br /> <span>Bold Lips</span> <br /> Flawless Skin</h2>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="categories__hot__deal">
                        <img src="img/product.png" alt="">
                        <div class="hot__deal__sticker">
                            <span>Sale Of</span>
                            <h5>₹29.99</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-1">
                    <div class="categories__deal__countdown">
                        <span>Deal Of The Week</span>
                        <h2>Silky Smooth Blush Pink</h2>

                        <div class="categories__deal__countdown__timer" id="countdown">
                            <div class="cd-item">
                                <span>3</span>
                                <p>Days</p>
                            </div>
                            <div class="cd-item">
                                <span>1</span>
                                <p>Hours</p>
                            </div>
                            <div class="cd-item">
                                <span>50</span>
                                <p>Minutes</p>
                            </div>
                            <div class="cd-item">
                                <span>18</span>
                                <p>Seconds</p>
                            </div>
                        </div>
                        <a href="/shop" class="primary-btn">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="instagram spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="instagram__pic">
                        <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-1.jpg"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-2.jpg"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-3.jpg"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-4.jpg"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-5.jpg"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-6.jpg"></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="instagram__text">
                        <h2>Instagram</h2>
                        <p>Discover the perfect shades and textures to enhance your beauty effortlessly every day.</p>
                        <h3>#Regalia</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="latest spad">
        
    </section>
    <%-include("../../views/partials/user/footer")%>

    <script>
        async function addToCart(productId, productName, salePrice) {
            try {
                const quantity = 1; 
                console.log("Button clicked. Product ID:", productId, "Product Name:", productName, "Sale Price:", salePrice);
    
                const response = await fetch('/addToCart', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ productId, quantity })
                });
    
                if (response.ok) {
                    Swal.fire({
                        title: 'Product Added to Cart!',
                        text: `The product "${productName}" has been successfully added to your cart.`,
                        icon: 'success',
                        showCancelButton: true,
                        confirmButtonText: 'Go to Cart',
                        cancelButtonText: 'Continue Shopping'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = '/cart';
                        }
                    });
                } else {
                    const errorText = await response.text();
                    Swal.fire({
                        title: 'Error',
                        text: errorText,
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                }
            } catch (error) {
                console.error('Error adding to cart:', error);
                Swal.fire({
                    title: 'Failed to Add to Cart',
                    text: 'There was an issue adding the product to your cart. Please try again later.',
                    icon: 'error',
                    confirmButtonText: 'OK'
                });
            }
        }
    </script>
    