<%-include("../../views/partials/user/header")%>

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="/">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->



    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shop__sidebar">

                        
                        <div class="shop__sidebar__search">
                            <form action="/search" method="GET">
                                <input type="text" name="q" placeholder="Search...">
                                <button type="submit"><span class="icon_search"></span></button>
                            </form>
                            
                        </div>
                        <div class="shop__sidebar__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__categories">
                                                <ul class="nice-scroll">
                                                    <li><a href="/Shop">Show All</a></li>

                                                    <% categories.forEach(category => { %>
                                                        <!-- Pass the category ID as a query parameter -->
                                                        <li><a href="/filterShop?category=<%= category._id %>"><%= category.name %></a></li>
                                                    <% }) %>
                                                </ul>
                                            </div>
                                            
                                            
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                                    </div>
                                    <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__price">
                                                <ul>
                                                    <li><a href="#">$0.00 - $50.00</a></li>
                                                    <li><a href="#">$50.00 - $100.00</a></li>
                                                    <li><a href="#">$100.00 - $150.00</a></li>
                                                    <li><a href="#">$150.00 - $200.00</a></li>
                                                    <li><a href="#">$200.00 - $250.00</a></li>
                                                    <li><a href="#">250.00+</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-lg-9">



                    <div class="row">
                        <% products.forEach(product => { %>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <a href="/shop-details/<%= product._id %>"> <!-- Ensure link is correctly set -->
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/uploads/re-image/<%= product.productImage[0] %>">

                                        <ul class="product__hover">
                                            <li><a href="#"><img src="/img/icon/heart.png" alt=""></a></li>
                                            <li><a href="#"><img src="/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                                            <li><a href="#"><img src="/img/icon/search.png" alt=""></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__item__text">
                                        <h6><%= product.productName %></h6>
                                        <!-- <h6>Piqué Biker Jacket</h6> -->
                                        <a href="#" class="add-cart">+ Add To Cart</a>
                                        <!-- <div class="rating">
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div> -->
                                        <!-- <h5>
                                            <% if (product.salePrice) { %>
                                                $<%= product.salePrice.toFixed(2) %>
                                            <% } else { %>
                                                Price not available
                                            <% } %>
                                        </h5> -->
                                        
                                        <h5>$<%= product.salePrice%></h5>
                                        <div class="product__color__select">
                                            <label for="pc-4">
                                                <input type="radio" id="pc-4">
                                            </label>
                                            <label class="active black" for="pc-5">
                                                <input type="radio" id="pc-5">
                                            </label>
                                            <label class="grey" for="pc-6">
                                                <input type="radio" id="pc-6">
                                            </label>
                                        </div>
                                        <p><%= product.description%></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <% }) %>

                    </div> 

                     
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product__pagination">
                                <a class="active" href="#">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <span>...</span>
                                <a href="#">21</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->
    <%-include("../../views/partials/user/footer")%>
    <script>
    document.addEventListener("DOMContentLoaded", () => {
    const searchInput = document.querySelector(".shop__sidebar__search input"); 
    const products = document.querySelectorAll(".product__item");

    searchInput.addEventListener("input", (e) => {
        const searchText = e.target.value.toLowerCase();

        products.forEach((product) => {
            const productName = product.querySelector(".product__item__text h6").innerText.toLowerCase();
            if (productName.includes(searchText)) {
                product.style.display = ""; 
            } else {
                product.style.display = "none"; 
            }
        });
    });
});

    </script>