<%-include("../../views/partials/user/header")%>
<style>
  
.product__details__pic__item {
  position: relative;
  overflow: hidden;
}


.zoom-img {
  transition: transform 0.2s ease;  
  transform-origin: center center;  
  cursor: zoom-in; 
  width: 100%; 
  height: auto;
}


.zoom-img:hover {
  transform: scale(2);  
}
.product__details__btns__option button {
    background: none; 
    border: none; 
    outline: none;
    padding: 0; 
    margin: 0;
    color: #141111; 
    font-size: 24px; 
    cursor: pointer;
}

.product__details__btns__option button:hover {
    color: #8d0b0b;
    transform: scale(1.1);
    transition: transform 0.2s, color 0.2s; 
}


</style>
    <section class="shop-details">
        <div class="product__details__pic">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__details__breadcrumb">
                            <a href="/">Home</a>
                            <a href="/shop">Shop</a>
                            <span>Product Details</span>
                        </div>
                    </div>
                </div>
                <div class="row">


                    <div class="col-lg-3 col-md-3">

                        <ul class="nav nav-tabs" role="tablist">
                            <% product.productImage.forEach((image, index) => { %>
                                <li class="nav-item">
                                    <a class="nav-link <%= index === 0 ? 'active' : '' %>" data-toggle="tab" href="#tabs-<%= index+1 %>" role="tab">
                                        <div class="product__thumb__pic set-bg" data-setbg="/uploads/re-image/<%= image %>">
                                        </div>
                                    </a>
                                </li>
                            <% }) %>
                        </ul>
                    </div>   
                     
                    <div class="col-lg-6 col-md-9">
                        <div class="tab-content">
                          <% product.productImage.forEach((img, index) => { %>
                            <div class="tab-pane <%= index === 0 ? 'active' : '' %>" id="tabs-<%= index + 1 %>" role="tabpanel">
                              <div class="product__details__pic__item">
                                <img id="product-image-<%= index + 1 %>" src="/uploads/re-image/<%= img %>" alt="Product Image <%= index + 1 %>" class="zoom-img" />
                              </div>
                            </div>
                          <% }) %>
                        </div>
                      </div>
                     
                </div>
            </div>
        </div>
        <div class="product__details__content">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="product__details__text">
                            <h4><%= product.productName%></h4>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <span> - 5 Reviews</span>
                            </div>
                            <h3>₹<%=product.salePrice%> <span><%=product.regularPrice%></span></h3>
                            <p><%= product.description%></p>
                            <div class="product__details__option">

                                
                                <div class="product__details__option__color">
                                    <span>Color:</span>
                                    <label class="c-1" for="sp-1">
                                        <input type="radio" id="sp-1">
                                    </label>
                                    <label class="c-2" for="sp-2">
                                        <input type="radio" id="sp-2">
                                    </label>
                                    <label class="c-3" for="sp-3">
                                        <input type="radio" id="sp-3">
                                    </label>
                                    <label class="c-4" for="sp-4">
                                        <input type="radio" id="sp-4">
                                    </label>
                                    <label class="c-9" for="sp-9">
                                        <input type="radio" id="sp-9">
                                    </label>
                                </div>
                            </div>
                            <div class="product__details__cart__option">
                                
                                <% if (product.quantity > 0) { %>
                                    <!-- Show the Add to Cart button if product quantity is more than 0 -->
                                    <form id="add-to-cart-form" action="" class="add-to-cart-form" data-product-id="<%= product._id %>" method="">
                                      <input type="hidden" name="productId" value="<%= product._id %>">
                                      <div class="quantity">
                                        
                                          <input type="number" name="quantity" value="1" min="1" max="5" step="1">
                                        
                                      </div>
                                      
                                      <button type="submit" class="primary-btn">Add to Cart</button>
                                    </form>
                                  <% } else { %>
                                    <!-- Show the Out of Stock button if product quantity is 0 -->
                                    <button class="primary-btn" disabled>Out of Stock</button>
                                  <% } %>
                                  
                                
                            </div>
                            <div class="product__details__btns__option">
                                <button type="button" class="fa fa-heart add-to-wishlist-btn" data-product-id="<%= product._id %>"> Add to Wishlist</button>
                            </div>
                            
                            <div class="product__details__last__option">
                                <h5><span>Guaranteed Safe Checkout</span></h5>
                                <img src="img/shop-details/details-payment.png" alt="">
                               
                               

                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </section>
    <!-- Shop Details Section End -->

    <!-- Related Section Begin -->
    <section class="related spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="related-title">Related Product</h3>
                </div>
            </div>
            <div class="row">


                <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="/uploads/re-image/<%= product.productImage[0] %>">
                            <span class="label">New</span>
                            <ul class="product__hover">
                                <li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
                                <li><a href="#"><img src="img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                                <li><a href="#"><img src="img/icon/search.png" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><%= product.productName %></h6>
                            
                            <a href="" class="add-cart">+ Add To Cart</a>
                            <div class="rating">
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <h5>₹<%= product.salePrice%></h5>
                            <div class="product__color__select">
                                <label for="pc-1">
                                    <input type="radio" id="pc-1">
                                </label>
                                <label class="active black" for="pc-2">
                                    <input type="radio" id="pc-2">
                                </label>
                                <label class="grey" for="pc-3">
                                    <input type="radio" id="pc-3">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </section>
    <!-- Related Section End -->


  <%-include("../../views/partials/user/footer")%>

  <!-- Add the zoom functionality JavaScript at the end of the body -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const zoomImage = document.querySelector('.zoom-img');  
        const zoomContainer = document.querySelector('.product__details__pic__item');  
        zoomContainer.addEventListener('mousemove', (e) => {
            const containerRect = zoomContainer.getBoundingClientRect();
            const mouseX = e.clientX - containerRect.left;  
            const mouseY = e.clientY - containerRect.top;   
            const zoomWidth = zoomImage.offsetWidth;
            const zoomHeight = zoomImage.offsetHeight;

            const posX = (mouseX / containerRect.width) * 100;
            const posY = (mouseY / containerRect.height) * 100;

            zoomImage.style.transformOrigin = `${posX}% ${posY}%`; 
            zoomImage.style.transform = `scale(2)`; 
        });

        zoomContainer.addEventListener('mouseleave', () => {
            zoomImage.style.transform = 'scale(1)'; 
        });
    });

    
    document.addEventListener('DOMContentLoaded', function () {
    const addToCartForm = document.querySelector('#add-to-cart-form');
    console.log(addToCartForm);  // Check if form is found
    
    if (addToCartForm) {
        addToCartForm.addEventListener('submit', async function (e) {
            e.preventDefault();  // Prevent form from submitting traditionally
            
            const productId = this.dataset.productId;
            const quantityInput = this.querySelector('input[name="quantity"]');

            if (quantityInput) {
                const quantity = quantityInput.value;
                console.log("Form submitted. Product ID:", productId, "Quantity:", quantity);

                try {
                    const response = await fetch('/addToCart', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({ productId, quantity })
                    });

                    if (response.ok) {
                        Swal.fire({
                            title: 'Product Added to Cart!',
                            text: 'The product has been successfully added to your cart.',
                            icon: 'success',
                            showCancelButton: true,
                            confirmButtonText: 'Go to Cart',
                            cancelButtonText: 'Continue Shopping'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = '/cart';
                            }
                        });
                    } else {
                        const errorText = await response.text();
                        Swal.fire({
                            title: 'Error',
                            text: errorText,
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                } catch (error) {
                    console.error('Error adding to cart:', error);
                    Swal.fire({
                        title: 'Failed to Add to Cart',
                        text: 'There was an issue adding the product to your cart. Please try again later.',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                }
            } else {
                console.warn("Quantity input not found");
            }
        });
    } else {
        console.warn("No form with ID '#add-to-cart-form' found.");
    }
});

document.addEventListener('DOMContentLoaded', function () {
        const wishlistButtons = document.querySelectorAll('.add-to-wishlist-btn');

        wishlistButtons.forEach(button => {
            button.addEventListener('click', async function () {
                const productId = this.dataset.productId;

                try {
                    const response = await fetch('/addToWishlist', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({ productId })
                    });

                    if (response.ok) {
                        Swal.fire({
                            title: 'Product Added to Wishlist!',
                            text: 'The product has been successfully added to your wishlist.',
                            icon: 'success',
                            showCancelButton: true,
                            confirmButtonText: 'Go to wishlist',
                            cancelButtonText: 'Continue Shopping'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = '/wishlist';
                            }
                        });
                    } else {
                        const errorText = await response.text();
                        Swal.fire({
                            title: 'Error',
                            text: errorText,
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                } catch (error) {
                    console.error('Error adding to wishlist:', error);
                    Swal.fire({
                        title: 'Failed to Add to Wishlist',
                        text: 'There was an issue adding the product to your wishlist. Please try again later.',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                }
            });
        });
    });


</script>
